.version.about_us /* version checker */
{
	color: #0000F0;
	background-color: #D5428C;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 2px;
}

#u2496
{
	z-index: 104;
	width: 1620px;
	height: 57px;
	top: 0px;
	left: 50%;
	margin-left: -779px;
}

#u1990
{
	z-index: 105;
	width: 227px;
	left: -9px;
}

#menuu2011
{
	z-index: 107;
	width: 584px;
	top: 13px;
	left: 50%;
	margin-left: -105px;
}

#u2540
{
	width: 95px;
	padding-bottom: 17px;
}

#u2036
{
	width: 95px;
	padding-bottom: 17px;
}

#u2015
{
	width: 96px;
	padding-bottom: 17px;
}

#u2029
{
	width: 96px;
	padding-bottom: 17px;
}

#u2439
{
	width: 96px;
	padding-bottom: 17px;
}

#u2501
{
	width: 96px;
	padding-bottom: 17px;
}

#pu2287
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 103px;
}

#u2287
{
	z-index: 83;
	width: 307px;
	height: 1px;
	border-color: #000000;
	background-color: #43AD00;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
}

#u2289-4
{
	z-index: 84;
	width: 308px;
	min-height: 50px;
	background-color: #43AD00;
	padding-top: 13px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 314px;
}

#u2475
{
	z-index: 102;
	width: 307px;
	height: 1px;
	border-color: #000000;
	background-color: #43AD00;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 628px;
}

#u2285
{
	z-index: 82;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#u2285_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 47px;
	padding-bottom: 76px;
}

#pu2290-7
{
	width: 0.01px;
	left: 100px;
	position: relative;
}

#u2290-7
{
	z-index: 88;
	width: 400px;
	min-height: 365px;
	position: relative;
	margin-right: -10000px;
}

#u2290-2
{
	font-size: 31px;
	text-align: left;
}

#u2290-3
{
	font-size: 17px;
	line-height: 1.5;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u2291
{
	z-index: 95;
	width: 466px;
	height: 358px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 494px;
	background: #BCF0D1 url("../images/green-hops-2994091(1).jpg") no-repeat left top;
	background-size: cover;
}

.js #u2290-7.ose_pre_init,.js #u2291.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u2533
{
	z-index: 103;
	width: 960px;
	height: 195px;
	border-color: #000000;
	left: 100px;
	margin-top: 72px;
	position: relative;
	background: #FFFFFF url("../images/pile-hops-2994086.jpg") repeat-x left top;
}

#u2293-6
{
	z-index: 96;
	width: 957px;
	left: 103px;
	margin-top: 17px;
	position: relative;
}

#u2293-2
{
	font-weight: bold;
}

#u2285-bw
{
	z-index: 82;
	margin-top: 60px;
	height: 874px;
}

#pu2331-4
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 54px;
}

#u2331-4
{
	z-index: 3;
	width: 342px;
	min-height: 36px;
	margin-right: -10000px;
}

#menuu2443
{
	z-index: 43;
	width: 584px;
	margin-right: -10000px;
	left: 374px;
}

#u2537,#u2544
{
	width: 95px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2545
{
	width: 95px;
	padding-bottom: 17px;
}

#u2033,#u2451
{
	width: 95px;
	min-height: 34px;
	margin-right: -10000px;
	left: 97px;
}

#u2454
{
	width: 95px;
	padding-bottom: 17px;
}

#u2543-4,#u2038-4,#u2546-4,#u2456-4
{
	width: 95px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2012,#u2458
{
	width: 96px;
	min-height: 34px;
	margin-right: -10000px;
	left: 194px;
}

#u2459
{
	width: 96px;
	padding-bottom: 17px;
}

#u2026,#u2444
{
	width: 96px;
	min-height: 34px;
	margin-right: -10000px;
	left: 292px;
}

#u2445
{
	width: 96px;
	padding-bottom: 17px;
}

#u2436,#u2465
{
	width: 96px;
	min-height: 34px;
	margin-right: -10000px;
	left: 390px;
}

#u2468
{
	width: 96px;
	padding-bottom: 17px;
}

#u2498,#u2505
{
	width: 96px;
	min-height: 34px;
	margin-right: -10000px;
	left: 488px;
}

#u2506
{
	width: 96px;
	padding-bottom: 17px;
}

#u1990:hover,#u2540.MuseMenuActive,#u2036.MuseMenuActive,#u2015.MuseMenuActive,#u2029.MuseMenuActive,#u2439.MuseMenuActive,#u2501.MuseMenuActive,#u2545.MuseMenuActive,#u2454.MuseMenuActive,#u2459.MuseMenuActive,#u2445.MuseMenuActive,#u2468.MuseMenuActive,#u2506.MuseMenuActive
{
	margin: 0px;
}

#u2016-4,#u2031-4,#u2440-4,#u2503-4,#u2460-4,#u2447-4,#u2469-4,#u2508-4
{
	width: 96px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2338
{
	z-index: 36;
	width: 959px;
	height: 1px;
	margin-top: 17px;
}

#ppu2332-4
{
	width: 0.01px;
	margin-top: 19px;
}

#pu2332-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 8px;
}

#u2332-4
{
	z-index: 7;
	width: 252px;
	min-height: 23px;
}

#u2335-11
{
	z-index: 15;
	width: 252px;
	min-height: 105px;
	margin-top: 11px;
}

#u2472
{
	z-index: 80;
	width: 227px;
	margin-right: -10000px;
	left: 366px;
}

#pu2334-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 743px;
}

#u2334-4
{
	z-index: 11;
	width: 213px;
	min-height: 23px;
}

#u2337-10
{
	z-index: 26;
	width: 191px;
	min-height: 76px;
	margin-top: 11px;
}

#u2330
{
	z-index: 2;
	padding-bottom: 12px;
}

#u2330_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2349-6
{
	z-index: 37;
	width: 628px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 267px;
}

#u2330-bw
{
	z-index: 2;
	margin-top: 6px;
	height: 26px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

