.version.contact_us /* version checker */
{
	color: #0000E1;
	background-color: #DA8450;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 2px;
}

#u2496
{
	z-index: 182;
	width: 1620px;
	height: 57px;
	top: 0px;
	left: 50%;
	margin-left: -779px;
}

#u1990
{
	z-index: 183;
	width: 227px;
	left: -9px;
}

#menuu2011
{
	z-index: 185;
	width: 584px;
	top: 13px;
	left: 50%;
	margin-left: -105px;
}

#u2540
{
	width: 95px;
	padding-bottom: 17px;
}

#u2036
{
	width: 95px;
	padding-bottom: 17px;
}

#u2015
{
	width: 96px;
	padding-bottom: 17px;
}

#u2029
{
	width: 96px;
	padding-bottom: 17px;
}

#u2439
{
	width: 96px;
	padding-bottom: 17px;
}

#u2501
{
	width: 96px;
	padding-bottom: 17px;
}

#pu2373
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 68px;
}

#u2373
{
	z-index: 83;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 34px;
}

#u2373_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u2399
{
	z-index: 175;
	width: 1060px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -34px;
	left: 44px;
}

#u2373-bw
{
	z-index: 83;
	height: 206px;
}

#u2476
{
	z-index: 176;
	width: 307px;
	height: 1px;
	border-color: #000000;
	background-color: #43AD00;
	position: relative;
	margin-right: -10000px;
	margin-top: 261px;
	left: 112px;
}

#u2477-4
{
	z-index: 177;
	width: 308px;
	min-height: 50px;
	background-color: #43AD00;
	padding-top: 13px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 231px;
	left: 426px;
}

#u2478
{
	z-index: 181;
	width: 307px;
	height: 1px;
	border-color: #000000;
	background-color: #43AD00;
	position: relative;
	margin-right: -10000px;
	margin-top: 261px;
	left: 741px;
}

#pwidgetu2374
{
	width: 0.01px;
	margin-left: 12px;
}

#widgetu2374
{
	z-index: 84;
	width: 0.01px;
	height: 518px;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
}

#widgetu2388
{
	z-index: 85;
	width: 357px;
	height: 69px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 242px;
	left: -1px;
}

#widgetu2388.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 242px -10000px 0px 0px;
}

#u2389-4
{
	z-index: 86;
	width: 200px;
	min-height: 31px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	font-size: 18px;
	color: #6B6B6B;
	text-align: left;
	font-family: Times, Times New Roman, Georgia, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u2391-3
{
	z-index: 90;
	width: 345px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #43AD00;
	background-color: #FFFFFF;
	line-height: 1;
	font-size: 15px;
	color: #43AD00;
	font-family: Times, Times New Roman, Georgia, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: -1px;
	padding: 10px 6px 6px;
}

#widgetu2388:hover #u2391-3
{
	border-color: #6B6B6B;
	padding-top: 10px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 345px;
	margin: 28px -10000px -1px 0px;
}

#widgetu2388.focus-st #u2391-3
{
	border-color: #6B6B6B;
	padding-top: 10px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 345px;
	margin: 28px -10000px -1px 0px;
}

#widgetu2388.fld-err-st #u2391-3
{
	border-color: #D7244C;
	padding-top: 10px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 345px;
	margin: 28px -10000px -1px 0px;
}

#widgetu2388.non-empty-st #u2391-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2388:hover #u2391-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2388.focus-st #u2391-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2376
{
	z-index: 93;
	width: 357px;
	height: 67px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 337px;
	left: -1px;
}

#widgetu2376.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 337px -10000px 0px 0px;
}

#u2378-4
{
	z-index: 94;
	width: 200px;
	min-height: 31px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	font-size: 18px;
	color: #6B6B6B;
	text-align: left;
	font-family: Times, Times New Roman, Georgia, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu2376.fld-err-st #u2378-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px -10000px 0px 0px;
}

#u2377-3
{
	z-index: 98;
	width: 345px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #43AD00;
	background-color: #FFFFFF;
	line-height: 1;
	font-size: 15px;
	color: #43AD00;
	font-family: Times, Times New Roman, Georgia, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: -1px;
	padding: 10px 6px 6px;
}

#widgetu2376:hover #u2377-3
{
	border-color: #6B6B6B;
	padding-top: 10px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 345px;
	margin: 26px -10000px -1px 0px;
}

#widgetu2376.focus-st #u2377-3
{
	border-color: #6B6B6B;
	padding-top: 10px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 345px;
	margin: 26px -10000px -1px 0px;
}

#widgetu2376.fld-err-st #u2377-3
{
	border-color: #D7244C;
	padding-top: 10px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 345px;
	margin: 26px -10000px -1px 0px;
}

#widgetu2376.non-empty-st #u2377-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2376:hover #u2377-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2376.focus-st #u2377-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u2375-4
{
	z-index: 101;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 146px;
}

#widgetu2374.frm-sub-st #u2375-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2387-4
{
	z-index: 105;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 146px;
}

#widgetu2374.frm-subm-err-st #u2387-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2380-4
{
	z-index: 109;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 1;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 146px;
}

#widgetu2374.frm-sub-st #u2375-4,#widgetu2374.frm-subm-err-st #u2387-4,#widgetu2374.frm-subm-ok-st #u2380-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu2374.frm-subm-ok-st #u2380-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2386-17
{
	z-index: 113;
	min-height: 90px;
	width: 90px;
	position: relative;
	margin-right: -10000px;
	margin-top: 428px;
	left: 445px;
	background: url("../images/u2386-17.png") no-repeat 0px 0px;
}

#u2386-17:hover
{
	background: url("../images/u2386-17-r.png") no-repeat 0px 0px;
}

#u2386-17:active
{
	background: url("../images/u2386-17-m.png") no-repeat 0px 0px;
}

#widgetu2374.frm-sub-st #u2386-17
{
	background: url("../images/u2386-17-fs.png") no-repeat 0px 0px;
}

#widgetu2392
{
	z-index: 130;
	width: 587px;
	height: 217px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu2392.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2395-4
{
	z-index: 131;
	width: 200px;
	min-height: 31px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	font-size: 18px;
	color: #6B6B6B;
	text-align: left;
	font-family: Times, Times New Roman, Georgia, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu2388.fld-err-st #u2389-4,#widgetu2392.fld-err-st #u2395-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px -10000px 0px 0px;
}

#u2394-3
{
	z-index: 135;
	width: 575px;
	min-height: 172px;
	border-width: 1px;
	border-style: solid;
	border-color: #43AD00;
	background-color: #FFFFFF;
	line-height: 1;
	font-size: 15px;
	color: #43AD00;
	font-family: Times, Times New Roman, Georgia, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: -1px;
	padding: 10px 6px 6px;
}

#widgetu2392:hover #u2394-3
{
	border-color: #6B6B6B;
	padding-top: 10px;
	padding-bottom: 6px;
	min-height: 172px;
	width: 575px;
	margin: 28px -10000px -1px 0px;
}

#widgetu2392.focus-st #u2394-3
{
	border-color: #6B6B6B;
	padding-top: 10px;
	padding-bottom: 6px;
	min-height: 172px;
	width: 575px;
	margin: 28px -10000px -1px 0px;
}

#widgetu2392.fld-err-st #u2394-3
{
	border-color: #D7244C;
	padding-top: 10px;
	padding-bottom: 6px;
	min-height: 172px;
	width: 575px;
	margin: 28px -10000px -1px 0px;
}

#widgetu2392.non-empty-st #u2394-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2392:hover #u2394-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2392.focus-st #u2394-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2392_input
{
	width: 575px;
	min-height: 172px;
	color: #43AD00;
	font-family: Times, Times New Roman, Georgia, serif;
	font-size: 15px;
	font-style: italic;
	padding: 10px 6px 6px;
}

#widgetu2381
{
	z-index: 138;
	width: 357px;
	height: 82px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 435px;
	left: -1px;
}

#widgetu2381.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 435px -10000px -1px 0px;
}

#u2383-4
{
	z-index: 139;
	width: 200px;
	min-height: 31px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	font-size: 18px;
	color: #6B6B6B;
	text-align: left;
	font-family: Times, Times New Roman, Georgia, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#widgetu2381.fld-err-st #u2383-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 11px -10000px 0px 0px;
}

#widgetu2388.fld-err-st #u2389-4 p,#widgetu2388.fld-err-st #u2389-4 span,#widgetu2376.fld-err-st #u2378-4 p,#widgetu2376.fld-err-st #u2378-4 span,#widgetu2392.fld-err-st #u2395-4 p,#widgetu2392.fld-err-st #u2395-4 span,#widgetu2381.fld-err-st #u2383-4 p,#widgetu2381.fld-err-st #u2383-4 span
{
	color: #D7244C;
}

#u2385-4
{
	z-index: 143;
	width: 345px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #43AD00;
	background-color: #FFFFFF;
	line-height: 1;
	font-size: 15px;
	color: #43AD00;
	font-family: Times, Times New Roman, Georgia, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: -1px;
	padding: 10px 6px 6px;
}

#widgetu2381:hover #u2385-4
{
	border-color: #6B6B6B;
	padding-top: 10px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 345px;
	margin: 41px -10000px -1px 0px;
}

#widgetu2381.focus-st #u2385-4
{
	border-color: #6B6B6B;
	padding-top: 10px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 345px;
	margin: 41px -10000px -1px 0px;
}

#widgetu2381.fld-err-st #u2385-4
{
	border-color: #D7244C;
	padding-top: 10px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 345px;
	margin: 41px -10000px -1px 0px;
}

#widgetu2381.non-empty-st #u2385-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2381:hover #u2385-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2381.focus-st #u2385-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2388.fld-err-st #u2391-3 *,#widgetu2376.fld-err-st #u2377-3 *,#widgetu2392.fld-err-st #u2394-3 *,#widgetu2381.fld-err-st #u2385-4 *
{
	color: #D7244C;
	font-style: italic;
}

#u2382
{
	position: relative;
	width: 151px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 207px;
}

#widgetu2388_input,#widgetu2376_input,#widgetu2381_input,#widgetu2381_prompt
{
	width: 345px;
	min-height: 24px;
	color: #43AD00;
	font-family: Times, Times New Roman, Georgia, serif;
	font-size: 15px;
	font-style: italic;
	padding: 10px 6px 6px;
}

#widgetu2381.focus-st #widgetu2381_prompt
{
	padding-top: 10px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu2388:hover #widgetu2388_input,#widgetu2388.focus-st #widgetu2388_input,#widgetu2388.fld-err-st #widgetu2388_input,#widgetu2376:hover #widgetu2376_input,#widgetu2376.focus-st #widgetu2376_input,#widgetu2376.fld-err-st #widgetu2376_input,#widgetu2392:hover #widgetu2392_input,#widgetu2392.focus-st #widgetu2392_input,#widgetu2392.fld-err-st #widgetu2392_input,#widgetu2381:hover #widgetu2381_input,#widgetu2381.focus-st #widgetu2381_input,#widgetu2381.fld-err-st #widgetu2381_input,#widgetu2381:hover #widgetu2381_prompt,#widgetu2381.fld-err-st #widgetu2381_prompt
{
	padding-top: 10px;
	padding-bottom: 6px;
}

#widgetu2381.non-empty-st #widgetu2381_prompt
{
	visibility: hidden;
}

#u2372
{
	z-index: 82;
	width: 305px;
	height: 688px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 640px;
}

#pu2398-4
{
	width: 0.01px;
	padding-bottom: 500px;
	margin-left: 680px;
	margin-top: -605px;
}

#u2398-4
{
	z-index: 171;
	width: 242px;
	min-height: 202px;
	text-align: left;
	position: fixed;
	top: 569px;
	left: 680px;
}

#u2396-11
{
	z-index: 148;
	width: 253px;
	min-height: 113px;
	text-align: left;
	position: fixed;
	top: 804px;
	left: 680px;
}

#u2396-2
{
	font-size: 15px;
	letter-spacing: 1px;
	font-family: nobile, sans-serif;
	font-weight: 500;
}

#u2396-3
{
	font-size: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
}

#u2396-5,#u2396-7,#u2396-9
{
	font-size: 16px;
	font-family: Times, Times New Roman, Georgia, serif;
	font-style: italic;
}

#u2397-12
{
	z-index: 159;
	width: 253px;
	min-height: 115px;
	position: fixed;
	top: 950px;
	left: 680px;
}

#u2397-2
{
	font-size: 15px;
	text-align: left;
	letter-spacing: 1px;
	font-family: nobile, sans-serif;
	font-weight: 500;
}

#u2397-3
{
	font-size: 20px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
}

#u2397-5,#u2397-7,#u2397-9
{
	font-size: 16px;
	text-align: left;
	font-family: Times, Times New Roman, Georgia, serif;
	font-style: italic;
}

#u2397-4,#u2397-8
{
	font-size: 16px;
}

#u2397-10
{
	font-size: 16px;
	text-align: right;
	font-family: Times, Times New Roman, Georgia, serif;
	font-style: italic;
}

#pu2331-4
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 54px;
}

#u2331-4
{
	z-index: 3;
	width: 342px;
	min-height: 36px;
	margin-right: -10000px;
}

#menuu2443
{
	z-index: 43;
	width: 584px;
	margin-right: -10000px;
	left: 374px;
}

#u2537,#u2544
{
	width: 95px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2545
{
	width: 95px;
	padding-bottom: 17px;
}

#u2033,#u2451
{
	width: 95px;
	min-height: 34px;
	margin-right: -10000px;
	left: 97px;
}

#u2454
{
	width: 95px;
	padding-bottom: 17px;
}

#u2543-4,#u2038-4,#u2546-4,#u2456-4
{
	width: 95px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2012,#u2458
{
	width: 96px;
	min-height: 34px;
	margin-right: -10000px;
	left: 194px;
}

#u2459
{
	width: 96px;
	padding-bottom: 17px;
}

#u2026,#u2444
{
	width: 96px;
	min-height: 34px;
	margin-right: -10000px;
	left: 292px;
}

#u2445
{
	width: 96px;
	padding-bottom: 17px;
}

#u2436,#u2465
{
	width: 96px;
	min-height: 34px;
	margin-right: -10000px;
	left: 390px;
}

#u2468
{
	width: 96px;
	padding-bottom: 17px;
}

#u2498,#u2505
{
	width: 96px;
	min-height: 34px;
	margin-right: -10000px;
	left: 488px;
}

#u2506
{
	width: 96px;
	padding-bottom: 17px;
}

#u1990:hover,#u2540.MuseMenuActive,#u2036.MuseMenuActive,#u2015.MuseMenuActive,#u2029.MuseMenuActive,#u2439.MuseMenuActive,#u2501.MuseMenuActive,#u2545.MuseMenuActive,#u2454.MuseMenuActive,#u2459.MuseMenuActive,#u2445.MuseMenuActive,#u2468.MuseMenuActive,#u2506.MuseMenuActive
{
	margin: 0px;
}

#u2016-4,#u2031-4,#u2440-4,#u2503-4,#u2460-4,#u2447-4,#u2469-4,#u2508-4
{
	width: 96px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2338
{
	z-index: 36;
	width: 959px;
	height: 1px;
	margin-top: 17px;
}

#ppu2332-4
{
	width: 0.01px;
	margin-top: 19px;
}

#pu2332-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 8px;
}

#u2332-4
{
	z-index: 7;
	width: 252px;
	min-height: 23px;
}

#u2335-11
{
	z-index: 15;
	width: 252px;
	min-height: 105px;
	margin-top: 11px;
}

#u2472
{
	z-index: 80;
	width: 227px;
	margin-right: -10000px;
	left: 366px;
}

#pu2334-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 743px;
}

#u2334-4
{
	z-index: 11;
	width: 213px;
	min-height: 23px;
}

#u2337-10
{
	z-index: 26;
	width: 191px;
	min-height: 76px;
	margin-top: 11px;
}

#u2330
{
	z-index: 2;
	padding-bottom: 12px;
}

#u2330_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2349-6
{
	z-index: 37;
	width: 628px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 267px;
}

#u2330-bw
{
	z-index: 2;
	margin-top: 6px;
	height: 26px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

