.Heading-2,.Heading-3
{
	font-family: open-sans-n6, sans-serif;
}

.footer---heading
{
	font-family: nobile-n7, sans-serif;
}

.Large-Button
{
	font-family: nobile-n5, sans-serif;
}

.Script
{
	font-family: dawning-of-a-new-day-n4, sans-serif;
}

.Body-Text,.Footer---Text
{
	font-family: questrial-n4, sans-serif;
}

.h1,.Footer---Heading
{
	font-family: varela-round-n4, sans-serif;
}

.Heading-1,.Important
{
	font-family: open-sans-n4, sans-serif;
}

#u2543-4,#u2038-4,#u2016-4,#u2031-4,#u2440-4,#u2503-4,#u2546-4,#u2456-4,#u2460-4,#u2447-4,#u2469-4,#u2508-4
{
	font-family: droid-sans-n4, sans-serif;
}

#u2337-8
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u2349-6
{
	font-family: nobile-n4, sans-serif;
}

