.Heading-2,.Heading-3
{
	font-family: open-sans-n6, sans-serif;
}

.footer---heading
{
	font-family: nobile-n7, sans-serif;
}

.Large-Button
{
	font-family: nobile-n5, sans-serif;
}

.Script
{
	font-family: dawning-of-a-new-day-n4, sans-serif;
}

.Body-Text,.Footer---Text
{
	font-family: questrial-n4, sans-serif;
}

.h1,.Footer---Heading
{
	font-family: varela-round-n4, sans-serif;
}

.Heading-1,.Important
{
	font-family: open-sans-n4, sans-serif;
}

#u2543-4,#u2038-4,#u2016-4,#u2031-4,#u2440-4,#u2503-4,#u2546-4,#u2456-4,#u2460-4,#u2447-4,#u2469-4,#u2508-4
{
	font-family: droid-sans-n4, sans-serif;
}

#u2337-8
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u2349-6
{
	font-family: nobile-n4, sans-serif;
}

#u1969-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2002-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1463-4,#u1885-4,#u1899-4
{
	font-family: basic-n4, sans-serif;
}

#u2048-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2049-4
{
	font-family: open-sans-n6, sans-serif;
}

#u211-4,#u1659-4,#u1660-4,#u1690-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1670-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu1689_input,#widgetu1689_prompt,#widgetu1667_input,#widgetu1667_prompt
{
	font-family: open-sans, sans-serif;
}

#widgetu1665.frm-sub-st #u1672-4 p,#widgetu1665.frm-subm-err-st #u1673-4 p,#widgetu1665.frm-subm-ok-st #u1666-4 p
{
	font-family: open-sans-n4, sans-serif;
}

#u2576-2,#u2577-2
{
	font-family: nobile-n5, sans-serif;
}

#u2576-3,#u2577-3
{
	font-family: source-sans-pro-n4, sans-serif;
}

