.Heading-2,.Heading-3
{
	font-family: open-sans-n6, sans-serif;
}

.footer---heading
{
	font-family: nobile-n7, sans-serif;
}

.Large-Button
{
	font-family: nobile-n5, sans-serif;
}

.Script
{
	font-family: dawning-of-a-new-day-n4, sans-serif;
}

.Body-Text,.Footer---Text
{
	font-family: questrial-n4, sans-serif;
}

.h1,.Footer---Heading
{
	font-family: varela-round-n4, sans-serif;
}

.Heading-1,.Important
{
	font-family: open-sans-n4, sans-serif;
}

#u1723-4
{
	font-family: sansita-one-n4, sans-serif;
}

#u1758-4,#u1762-4
{
	font-family: basic-n4, sans-serif;
}

#u1774-4,#u1780-4,#u1784-4,#u1782-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1746-4,#u1747-4,#u1775-4,#u1781-4,#u1785-4,#u1783-4,#u1817-4,#u1818-4,#u1827-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1837-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu1825_input,#widgetu1825_prompt,#widgetu1833_input,#widgetu1833_prompt
{
	font-family: open-sans, sans-serif;
}

#widgetu1819.frm-sub-st #u1832-4 p,#widgetu1819.frm-subm-err-st #u1830-4 p,#widgetu1819.frm-subm-ok-st #u1831-4 p,#u1839-4
{
	font-family: open-sans-n4, sans-serif;
}

